<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8"/>
    <meta name="viewport" content="width=device-width,initial-scale=1.0"/>
    <script th:src="@{/webjars/vue/dist/vue.global.js}"></script>
    <link rel="stylesheet" th:href="@{/webjars/element-plus/lib/theme-chalk/index.css}">
    <script th:src="@{/webjars/element-plus/lib/index.full.js}"></script>
    <script th:src="@{/webjars/axios/dist/axios.js}"></script>
    <title>修改密码</title>
</head>
<header th:replace="admin/header::header-fragment"></header>
<body class="hold-transition sidebar-mini">
<div class="wrapper">
    <div th:replace="admin/header::header-nav"></div>
    <div th:replace="admin/sidebar::sidebar-fragment(${path})"></div>
    <div class="content-wrapper">
        <div class="content-header">
            <div class="container-fluid">
            </div>
        </div>
        <div id="app">
            <el-form ref="passwordData" :model="passwordData">
                <el-form-item lable="旧密码">
                    <el-input type="password" size="small" v-model="passwordData.oldPassword"></el-input>
                </el-form-item>
                <el-form-item lable="新密码">
                    <el-input type="password" size="small" v-model="passwordData.newPassword"></el-input>
                </el-form-item>
                <el-form-item>
                    <el-button type="primary" @click="onSubmit">确定</el-button>
                    <el-button>取消</el-button>
                </el-form-item>
            </el-form>
        </div>
    </div>
    <div th:replace="admin/footer::footer-fragment"></div>
    <script>
        const App = {
            data() {
                return {
                    passwordData: {oldPassword: '', newPassword: ''}
                };
            },
            methods: {
                onSubmit() {
                    axios.post('/admin/password', this.passwordData)
                        .then(function (response) {
                            alert(response);
                        }).catch(function (error) {
                        alert(error);
                    })
                }
            }
        };
        const app = Vue.createApp(App);
        app.use(ElementPlus);
        app.mount("#app");
    </script>
</div>
</body>
</html>
